{
  "extends": "airbnb-typescript/base",
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "project": [
      "./tsconfig.base.json"
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js"
      ],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ]
}