{
  "extends": "airbnb-typescript/base",
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js"
      ],
      "rules": {
        "no-console": "off",
        "no-confusing-arrow": "off",
        "operator-linebreak": "off",
        "object-curly-newline": "off",
        "implicit-arrow-linebreak": "off",
        "import/no-cycle": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/no-use-before-define": "off"
      }
    }
  ]
}