{
  "extends": "airbnb-typescript/base",
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js"
      ],
      "rules": {
        "no-unused-vars": "off",
        "no-await-in-loop": "off",
        "no-underscore-dangle": "off",
        "no-use-before-define": "off",
        "no-restricted-syntax": "off",
        "implicit-arrow-linebreak": "off",
        "import/prefer-default-export": "off"
      }
    }
  ]
}